# For development
example*
exploration.ipynb
notes_ml.md
notes_pkg.md

# Large data files
data/*

# Credentials
apikey

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
cov.xml

# Python
*__pycache__/